<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOS ANIMALES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://c8.alamy.com/compes/2bxetdg/mono-emocionado-icono-de-dibujos-animados-ilustracion-vectorial-de-dibujo-de-mono-contorneado-2bxetdg.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bolder;">MONO</ion-card-title>
      <!-- <ion-card-subtitle> Los monos, primates excluyendo prosimios y grandes simios, se dividen en del Nuevo Mundo
        (narices anchas, colas
        prensiles) y del Viejo Mundo (narices estrechas). Son inteligentes y sociales, con dietas variadas. Muchas
        especies están amenazadas, necesitando conservación.</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>




      <ion-grid>
        <ion-row style="text-align: center;">
          <ion-col>
            <ion-button (click)="play()" shape="round" size="large">
              <ion-icon slot="icon-only" name="happy" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col> <ion-button shape="round" size="large">
              <ion-icon slot="icon-only" name="musical-notes"></ion-icon>
            </ion-button></ion-col>
          <ion-col> <ion-button  shape="round" size="large">
              <ion-icon slot="icon-only" name="musical-notes"></ion-icon>
            </ion-button></ion-col>
        </ion-row>
      </ion-grid>




    </ion-card-content>
  </ion-card>



  <ion-grid>
    <ion-row>
      <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
      <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>

    </ion-row><ion-row>
      <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
      <ion-col><ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
    </ion-row>
  </ion-grid>





</ion-content>